{% extends 'index.html' %}

{% block content %}

<div class="btn-group" role="group">
    <a class="btn btn-warning btn-sm" href="/suppliers">Manage suppliers</a>
    <a class="btn btn-primary btn-sm" href="/products">Manage products</a>
    <a class="btn btn-secondary btn-sm" href="/customers">Manage customers</a>
    <a class="btn btn-dark btn-sm" href="/orders">Manage orders</a>
    <a class="btn btn-danger btn-sm" href="/logout">Logout</a>
</div>

<button id="add-btn" class="btn btn-success btn-sm" onclick="showaddform()">Add new customer</button>

<form method="post" action="/search-customers/">
    {% csrf_token %}
    <input class="card-text" class="card-text" type="text" placeholder="Search" name="search">
    <input type="submit" value="Search" class="btn btn-success btn-sm" name="">
</form>

<br />
<!-- Lisäyslomakkeen paikka -->
<div id="add-div"></div>
<br />

<h1>Customers</h1>

{% for c in customers %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">{{c.customer}}</h3>
        <p class="card-text">Contact person: {{c.contactname}} | Phone: {{c.phone}} | Address: {{c.address}}</p>
        <p class="card-text">Postalcode: {{c.postalcode}} | City: {{c.city}} | Country: {{c.country}} </p>
        <a href="/edit-customer-get/{{c.id}}/" class="btn btn-primary">Edit</a>
        <a href="/confirm-delete-customer/{{c.id}}/" class="btn btn-danger">Delete</a>
    </div>
</div>

{% empty %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">No customers found in the database </p>
    </div>
</div>

{%endfor%}

<script>

    let v = `
    <h2 style="color: darkorange;">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-customer/">
                {%csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="Customer" name="customer">
                <input class="card-text" type="text" placeholder="Contact Name" name="contactname">
                <input class="card-text" type="text" placeholder="Phone" name="phone">
                <input class="card-text" type="text" placeholder="Address" name="address">
                <input class="card-text" type="text" placeholder="Postalcode" name="postalcode">
                <input class="card-text" type="text" placeholder="City" name="city">
                <input class="card-text" type="text" placeholder="Country" name="country">
                <br />
                <br />
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = v
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}